body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    width: 25%;
    height: 600px;
    border: 1px solid darkgray;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);

}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px ;
    font-family: cursive,"Noto Sans Myanmar",sans-serif;
}
.title img{
    height: 40px;
    width: 40px;
}
form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.form-input{
    margin: 17px 0;
    display: flex;
    flex-direction:  row;
    justify-content: space-around;
    align-items: center;
}
label{
    font-family: cursive,"Noto Sans Myanmar",sans-serif;
    width: 25px;
}
input{
    width: 60%;
    border-top: none  ;
    border-left: none  ;
    border-right: none  ;

}
input:focus{
    outline: none;
}
input::placeholder{
    font-family: cursive,"Noto Sans Myanmar",sans-serif;
}
input:hover{
    cursor: pointer;
    transform:scale(1.05);
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row-reverse;
}
.submit{
    width: 30%;
    height: 40px;
    background: blue;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
    boder-radius: 10px;

}

.cancel{
    width: 30%;
    height: 40px;
    background: #4ba264;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
    boder-radius: 10px;
}
.container p{
    margin-top: 50px;
    font-family: cursive,"Noto Sans Myanmar",sans-serif;
    font-size: smaller;
    text-align: center;

}


